body {
  background: #888;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#container {
  flex: 1;
  min-height: 0;
  overflow: hidden;
  background: #888;
  margin-bottom: 36px;
}
canvas {
  display: block;
  cursor: crosshair;
}

#fileInput {
  display: none;
}
.tab-bar-tabs::-webkit-scrollbar {
  display: none;
}
